.main{
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content{
  margin: 24px;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.ipsum{
  background-color: rgb(204, 230, 233);
  padding: 24px;
  border-radius: var(--border-radius);

  font-size: 18px;
}
